.container {
  /* border: 1px solid red; */
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  /* max-width: 100%; */
  /* gap: var(--dynamic-gap, 0); */
  align-items: end;
  max-height: max-content;

  &.enemy {
    align-items: start;
  }
}

.modal {
  position: absolute;
  top: -50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
