.container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: end;
  transform: translateY(50%);
  transition: transform 160ms ease-out;
  border: 1px solid red;
  margin-top: -100px;
  --hand-gap: 5px;

  &.enemy {
    align-items: start;
    transform: translateY(0);
    margin-top: -125px;

    &.enemyDebug {
      margin-top: 0;
      margin-bottom: -125px;
      /** Add overlay colour to show its debug mode */
      background-color: rgba(0, 255, 0, 0.5);
    }
  }

  &:hover:not(.enemy) {
    transform: translateY(0);
  }

  :global(.Card),
  :global(.Card__empty) {
    margin-right: var(--hand-gap);
  }
  &:has(> :nth-child(6):last-child) {
    --hand-gap: -15px;
  }

  &:has(> :nth-child(7):last-child) {
    --hand-gap: -15px;
  }
}

.modal {
  position: absolute;
  top: -50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.entering {
  position: relative;
  z-index: 10;
  transform-style: preserve-3d;
  animation: entering 3s ease-in-out;
  animation-fill-mode: forwards;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    border-radius: inherit;
    background-color: rgb(114, 88, 123);
    background-image: url("../../../../../../assets/images/ui/card_back.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    pointer-events: none;
    animation: enteringCardBack 3s ease forwards;
  }
}

@keyframes entering {
  0% {
    transform: translate3d(calc(-50vw - 45px), -62px, 0) scale(0.4)
      rotateY(180deg);
  }
  30% {
    transform: translate3d(var(--entering-center-x), calc(-50vh + 149px), 0)
      scale(1.5) rotateY(0deg);
  }
  60% {
    transform: translate3d(var(--entering-center-x), calc(-50vh + 149px), 0)
      scale(1.5) rotateY(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1) rotateY(0deg);
  }
}

@keyframes enteringCardBack {
  0%,
  15% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  30%,
  100% {
    opacity: 0;
    transform: rotateY(180deg);
  }
}
