@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Della+Respira&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap");

.MainViewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

.MainContainer {
  // transform-origin: top left;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1920px;
  height: 1080px;
  image-rendering: crisp-edges;
  // border: 1px solid red;
  // height: 100vh;
  // width: 100%;
  // min-width: 1366px;
  // min-height: 920px;
  // max-width: 1920px;
  // max-height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: hsla(0, 0%, 20%, 1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/src/assets/images/ui/menu/main/background.png");
  // background: radial-gradient(circle, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

  &__audio {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
  }
}

body {
  margin: 0;
  color: white;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: var(--cursor-pointer, pointer);
  outline: inherit;
}

* {
  font-family: "Della Respira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
}
