.container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 16, 0.25), rgba(0, 0, 16, 0.25)), url("../../../../../assets/images/ui/menu/game/background_game.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
