.container {
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 16, 0.25), rgba(0, 0, 16, 0.25)),
    url("../../../../../assets/images/ui/menu/game/background_game.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
}

.leftSection,
.rightSection {
  width: 400px;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightSection {
  align-items: flex-end;
}

.gameSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playerInfo,
.enemyInfo {
  width: 300px;
  border: 1px solid #d9b25b;
  background-color: #11151c;
}

.playerInfo {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  padding: 10px;
  margin-top: auto;
}

.enemyInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.player {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
  flex: 1;
  padding-left: 10px;
}

.playerText {
  font-size: 20px;
  font-family: "Yrsa", sans-serif;
  text-transform: uppercase;
}

.playerDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0px;
  width: 100%;
}

.playerHealth {
  position: relative;
  width: 165px;
  height: 30px;
  border: 1px solid #04da8f;
  background-color: #044a32;

  .playerHealthBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #044a32;
    background: linear-gradient(90deg, #005341 0%, #06ac59 100%);
  }

  p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    font-family: "Yrsa", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.playerAttunement {
  width: 75px;
  height: 75px;
  border: 1px solid #d9b25b;
  background-color: #000000;
  padding: 5px;
  border-radius: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.playerShields {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playerShield {
  width: 85px;
  height: 85px;
  border: 1px solid #665931;
  border-radius: 2px;
  padding: 5px;
}

.heading {
  font-size: 16px;
  font-family: "Cinzel", serif;
}
