.container {
  flex: 1;
  display: flex;
  gap: 30px;
}

.creatureCard {
  background-color: rgb(228, 219, 143);
  height: 100px;
  width: 100px;
  color: black;
  padding: 10px;
  position: relative;
  border-radius: 10px;

  p {
    margin: 0;
  }

  .name {
    font-weight: 600;
  }

  .health {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
  }
}
.isActivatable {
  box-shadow: 0 0 20px #6aff00;
  cursor: pointer;
}
