.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 500px;
  border: 1px solid #fefefe;

  &__selected {
    background: hsla(0, 0%, 100%, 0.1);
  }

  &:disabled {
    background: hsla(0, 100%, 50%, 0.1);
  }
}

.beginButton {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  border: 1px solid #fefefe;
  background: hsla(0, 0%, 100%, 0.1);
}

.flex {
  display: flex;
  width: 100%;
  gap: 50px;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
