.backBtn {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/src/assets/images/ui/menu/singlePlayerOpponent/backBtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 133px;
  height: 65px;
  view-transition-name: lobby-back-button;
  animation: fadeIn 500ms ease-in-out both;
  &:hover {
    background-image: url("/src/assets/images/ui/menu/singlePlayerOpponent/backBtn-hover.svg");
  }
}

::view-transition-old(lobby-back-button) {
  animation: fadeOut 500ms ease-in-out both;
}

::view-transition-new(lobby-back-button) {
  animation: fadeIn 500ms ease-in-out both;
}

@keyframes fadeIn {
  0% {
    clip-path: inset(100% 0 0 0);
    transform: translateY(-70px);
  }
  100% {
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
  }
  100% {
    clip-path: inset(100% 0 0 0);
    transform: translateY(-70px);
  }
}
